# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production
client/dist/

# Environment Variables
.env
client/.env
server/.env

# Local History
.DS_Store
.vscode/

# Build Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
